@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Barlow Condensed', sans-serif;

}
.heading{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: brown; */
    
}



    
.upper-box{
    display: flex;    
    background-color: blueviolet;
    width: 100%;
    
}

.upper-table{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    border-collapse: collapse;
    
}
.upper-table th,td{
    border: 1px solid black;
    padding: 0.25rem 0.50rem;
}
.upper-table .main-inputs{
   width: 100%;
}
.upper-table .rate-type{
    width: 50%;
}
/* Lower Box */

.lower-box{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 1rem 0; */
    
}
/* **********INPUT TABLE */

.input-table{
    border: 1px solid black;
   
    border-collapse: collapse;
}
.input-table th,td{
    border: 1px solid black;
}
.input-table .primary-meals,.middle-meals{
    text-align: center;
}

/* **********DISPLAY TABLE */
.display-table{
    border: 1px solid black;
   
    border-collapse: collapse;
}
.display-table th,td{
    border: 1px solid black;
}


/* **********RICE DETAILS TABLE */
.rice-details-table{
    border: 1px solid black;
    /* margin-left: 1rem; */
    /* margin-top: 1rem; */
    border-collapse: collapse;

}
.rice-details-table td,th{
    border: 1px solid black;

}

.btn-wrapper{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.btn-submit{
    padding: 1rem 3rem;
    border-radius: 8px;
    background-color: brown;
    color: antiquewhite;
}


@media only screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: brown;
        background-image: linear-gradient(to bottom right, rgb(174, 0, 255) , rgb(197, 165, 245));
    }
    /* Upper-Box */
    .upper-box{
        width: 100%;
    }
    /* Lower Box */
    .lower-box{
        width: 100%;
    }
    .lower-box .input-side{
        /* background-color: black; */
        width: 45%;
        
        margin: 0 0;
        
    }
    .lower-box .input-table{
        margin: 0 0;
        table-layout: fixed;
    }

    .lower-box .display-results{
        width: 40%;
        background-color: green;
        /* margin-left: 0.5rem */
    }

        .lower-box .display-table{
            width: 90%;
            table-layout: fixed;

            /* background-color: yellow; */

        }
   

/* ********* TO BE STYLED***** */

    .upper-table{
        border: 1px solid black;
        width: 100%;
        margin: 0.5rem 0.5rem;
        /* margin-left: auto;
        margin-right: auto; */
        padding: 0 0;
        border-collapse: collapse;
    }
    .upper-table th,td{
        font-size: 0.8em;
        padding: 0 0.1rem;
    }
    /* Input Table */



    

    .display-table td,th{
        width: 4rem
    }
    .display-table th{
        font-size: 0.8em;
    
    }

    .upper-inputs{
        width: 6rem;
    }
    
    .rice-details-table td,th{
        width: 6rem;
    }
    .rice-details-table th{
        font-size: 0.8em;
    }
  }